<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unsplash</key>
	<dict>
        <key>url</key>
        <string>https://api.unsplash.com/search/photos</string>
        <key>key</key>
        <string>14b8ea2fd9f7e2f98b95468c551e9b630cd0d3435f580bc31db8b0a3cacfea42</string>
        <key>per_page</key>
        <string>1</string>
	</dict>
	<key>restapikey</key>
	<string>9326145ca0msha8b5d860debad48p145374jsn05e76cff94cc</string>
	<key>restapiurl</key>
	<string>https://restcountries-v1.p.rapidapi.com/all</string>
</dict>
</plist>
